/**
 * @tokens Colors
 * @presenter Color
 */
:root {
  --acko-color_black: #001018;
  --acko-color_brand: #0082c3;
  --acko-color_brand-pro: #012b49;
  --acko-color_brand-digital: #007dbc;
  --acko-color_brand-digital-dark-1: #00689d;
  --acko-color_brand-digital-dark-2: #00537d;
  --acko-color_brand-digital-light-1: #7ebee0;
  --acko-color_brand-digital-light-2: #bedeef;
  --acko-color_brand-digital-light-3: #e7f3f9;
  --acko-color_green: #02be8a;
  --acko-color_green-dark-1: #029e73;
  --acko-color_green-dark-2: #017f5c;
  --acko-color_green-light-1: #7cdfc4;
  --acko-color_green-light-2: #beefe2;
  --acko-color_green-light-3: #e4f9f3;
  --acko-color_grey: #687787;
  --acko-color_grey-dark-1: #4e5d6b;
  --acko-color_grey-dark-2: #344450;
  --acko-color_grey-dark-3: #1a2a34;
  --acko-color_grey-light-1: #b3bac3;
  --acko-color_grey-light-2: #d9dde1;
  --acko-color_grey-light-3: #eff1f3;
  --acko-color_grey-light-4: #f7f8f9;
  --acko-color_orange: #fe5800;
  --acko-color_orange-light-1: #feab7b;
  --acko-color_orange-light-2: #fed5bd;
  --acko-color_red: #ee000c;
  --acko-color_red-light-1: #ed8b8f;
  --acko-color_red-light-2: #f5c7c9;
  --acko-color_white: #fff;
  --acko-color_yellow: #ffea28;
  --acko-color_yellow-light-1: #fff58d;
  --acko-color_yellow-light-2: #fffbc7;
  --acko-color_success: #23a942;
  --acko-color_info: #007dbc;
  --acko-color_warning: #ff600a;
  --acko-color_danger: #e32c26;
}
